<!DOCTYPE html>
<html>
  <head>
    <title>Address Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <center>
        <h1>Address Book</h1>
      <div class="info-fields">
        <ul>
          @foreach (var contact in Model)
          {
            <li><a href='/contacts/@contact.GetId()'>@contact.GetName()</a></li>
          }
        </ul>
        <br><p><a href='/contacts/new'>Add New Contact</a></p>
        <form action="/contacts/list/clear" method="post">
          <button type="submit" name="button">Clear All Contacts</button>
        </form>
      </center>
      </div>
    </div>
  </body>
</html>
